Header add Access-Control-Allow-Origin: "*"
Header add Access-Control-Allow-Methods: "*"
Header add Access-Control-Allow-Headers: "*"
<IfModule mod_mime.c>
AddEncoding gzip .unityweb
</IfModule>
AddType application/wasm wasm
